.list_container {
    /* background-color: #EFF6E0; */
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 5rem;
    row-gap: 2rem;
    align-content: center;
    justify-content: center;
}

.title {
    background-color: #124559;
    border-radius: 10px;
    color: white;
    display: inline-block;
    margin-bottom: 4rem;
    padding: 6px 25px 10px 25px;
}