.card_container {
    background-color: #124559;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
}

.card_container img {
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 300px;
}

.user_description h3 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.user_description {
    padding: 5px 0 15px 0;
}

.user_description p {
    color: white;
    margin: 3px 0 0 0;
}