.container {
    height:  100vh;
}

.modal_container {
    background-color: #01161E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:  200px;
    margin: 5rem auto;
    width: 600px;
}

.modal_container h1 {
    color: white;
    margin: 0;
}