.nav_container {
    align-items: center;
    background-color: #EFF6E0;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.nav_container h2 {
    color: #124559;
    font-size: 2rem;
}

.nav_link a {
    color: #598392;
    margin-left: 1rem;
    text-decoration: none;
}