body {
  background: linear-gradient( #598392, #AEC3B0 );
  margin: 0;
  font-family: 'Righteous', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
